
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance App - Login</title>
    <link rel="stylesheet" href="styles1.css">
    <script src="final.js"></script>
</head>
   
<body>
    <div class="center-container">
        <div class="attendance-portal">
            <h1 class="app-title">Attendance Portal</h1>
            <div class="login-form">
                <h2 class="form-title">Login</h2>
                <form id="form" method="post" action="/dashboard">
                    <input type="name" placeholder="Name"  name="name" id="name" value="" required>
                    <input type="text" placeholder="Enrollment Number" name="enroll" id="enroll" value="" required>
                    <select id="branch" name="branch" required>
                        <option value="" disabled selected>Select Branch</option>
                        <option value="branch1">CSE</option>
                        <option value="branch2">EE</option>
                        <option value="branch3">ECE</option>
                        <option value="branch4">MNC</option>
                    </select>
        <button type="submit" class="btn" id="button">Login</button>
                </form>
            </div>
        </div>
    </div>
    



</body>
</html>

